{% extends 'base.html' %}

{% block title %}
    Task list
{% endblock %}

{% block content %}
    {% if tasks %}
        <div class="card-deck d-flex justify-content-between flex-wrap m-5 ">
        {% for task in tasks %}
            <div class="card mb-3 align-self-start {{task.colors }}"  style="max-width: 18rem;">
                <div class="card-header bg-transparent {{task.colors}} pt-1 m-auto"> 
                    <a href="{% url 'update_task' task.id %}" style="text-decoration: none; color: black"> update </a> | 
                    <a href="{% url 'delete_task' task.id %}" style="text-decoration: none; color: black"> delete </a> 
                </div>
                
                <div class="card-body ">

                    <a href="{% url 'single_task' task.id %}" style="text-decoration: none; color: black;" >
                        <h5 class="card-title">{{task.title}} </h5>
                        <p class="card-text {{task.colors}}">{{task.description|truncatewords:14}}</p>
                    </a>
                
                </div>
                <div class="card-footer bg-transparent {{task.colors}} d-flex justify-content-center ">
                        {{ task.created_at|date:"d.m.Y" }} --- {{ task.updated_at|date:"d.m.Y" }} 
                </div>
              </div>
        {% endfor%}
        </div>
    {% else %}
    <div class="d-flex justify-content-center">
        <h1>You don't have any task, <a href="{% url 'create_task' %}" style="text-decoration: none;" > Create </a></h1>
    </div>
        
    {% endif %}
{% endblock %}